<%= form_for :session, url: session_path do |form| %>
  <div class="field">
    <%= form.label :email, class: "label" %>
    <div class="control">
      <%= form.text_field :email, type: 'email', class: 'input', placeholder: 'e.g. alexsmith@gmail.com', required: true %>
    </div>
  </div>

  <div class="field">
    <%= form.label :password, class: "label" %>
    <div class="control">
      <%= form.password_field :password, class: 'input', placeholder: '********', required: true %>
    </div>
  </div>

  <div class="control">
    <%= form.submit 'Log in', class: 'button is-primary' %>
    <%= link_to t(".forgot_password"), new_password_path, class: 'button is-white' %>
  </div>
<% end %>
