<%= form_with(model: tracker, local: true) do |form| %>
  <div class="field">
    <%= form.label :title, "Tracker name", class: "label" %>
    <div class="control">
      <%= form.text_field :title, class: "input", placeholder: "e.g. Incredible sofa bed", required: true %>
    </div>
  </div>

  <div class="field">
    <%= form.label :url, "Product URL", class: "label" %>
    <div class="control">
      <%= form.text_field :url, class: "input", placeholder: "e.g. https://www.ikea.com/my-sofa-12345", type: "url", required: true, disabled: !@tracker.new_record? %>
    </div>
  </div>

  <div class="field">
    <%= form.label :threshold_price, "Threshold price (€)", class: "label" %>
    <div class="control">
      <%= form.number_field :threshold_price, class: "input", placeholder: "e.g. 199.99", min: 0, step: 0.01, required: true, value: @tracker.threshold_price.present? ? (@tracker.threshold_price / 100.0) : nil %>
    </div>
    <p class="help">This value represents the threshold below which you'll be notified.</p>
  </div>

  <div class="actions">
    <%= form.submit "Submit", class: "button is-primary" %>
  </div>
<% end %>
