<h1 class="title is-2">My Trackers</h1>

<table class="table is-striped is-fullwidth is-hoverable is-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Url</th>
      <th>Threshold price</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @trackers.each do |tracker| %>
      <tr>
        <td><%= tracker.title %></td>
        <td><%= tracker.url %></td>
        <td><%= tracker.display_price_euros %></td>
        <td>
          <% if tracker.enabled %>
            <span class="tag is-success">Enabled</span>
          <% else %>
            <span class="tag is-danger">Disabled</span>
          <% end %>
        </td>
        <td>
          <%= link_to tracker_path(tracker), class: 'button is-info' do %>
            <span class="icon">
              <i class="fa fa-lg fa-search-plus"></i>
            </span>
          <% end %>
          <%= link_to tracker_path(tracker), method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-danger' do %>
            <span class="icon ">
              <i class="fas fa-lg fa-trash"></i>
            </span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
