<p id="notice"><%= notice %></p>

<h1 class="title">My Trackers</h1>

<table class="table is-striped is-fullwidth is-hoverable is-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Url</th>
      <th>Threshold price</th>
      <th>Enabled</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trackers.each do |tracker| %>
      <tr>
        <td><%= tracker.title %></td>
        <td><%= tracker.url %></td>
        <td><%= tracker.threshold_price %> €</td>
        <td>
          <% if tracker.enabled %>
            <span class="icon has-text-success">
              <i class="fas fa-lg fa-check-circle"></i>
            </span>
          <% else %>
            <span class="icon has-text-danger">
              <i class="fas fa-times-circle"></i>
            </span>
          <% end %>
        </td>
        <td>
          <%= link_to tracker_path(tracker), class: 'button is-info' do %>
            <span class="icon">
              <i class="fa fa-lg fa-search-plus"></i>
            </span>
          <% end %>
          <%= link_to tracker_path(tracker), method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-danger' do %>
            <span class="icon ">
              <i class="fas fa-lg fa-trash"></i>
            </span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tracker', new_tracker_path %>
