<section>
  <div class="columns">
    <div class="column content">
      <%= render "partials/page_title", title: @tracker.title %>

      <p class="tag is-rounded"><%= @tracker.url.truncate(40) %> <a href="<%= @tracker.url %>" target="_blank" class="is-link"><i class="fas fa-external-link-alt"></i></a></p>
      <p>You'll be notified via e-mail once the price for <strong><%= @tracker.title %></strong> falls below your predefined threshold of <strong><%= @tracker.display_price_euros %></strong>.</p>
      <p>Prices for products are updated daily.</p>

      <% if @tracker.prices.present? %>
        <ul>
          <li><strong>Lowest price:</strong> <%= Money.new(@tracker.lowest_price.value) %>€ (at <%= @tracker.lowest_price.created_at.strftime("%B %-d, %Y") %>)</li>
          <li><strong>Highest price:</strong> <%= Money.new(@tracker.highest_price.value) %>€ (at <%= @tracker.highest_price.created_at.strftime("%B %-d, %Y") %>)</li>
        </ul>
      <% end %>
    </div>
  </div>
  <div class="columns">
    <div class="column prices-list">
      <h3 class="title is-4">Price history</h3>
      <div class="columns">
          <% if @tracker.prices.present? %>
            <div class="column is-one-third">
              <table class="table is-fullwidth is-striped is-hoverable">
                <thead>
                  <th>Date</th>
                  <th>Price</th>
                </thead>
                <tbody>
                  <% @tracker.prices.order(created_at: :desc).limit(10).each do |price| %>
                    <tr>
                      <td><%= price.created_at.strftime("%B %-d, %Y") %></td>
                      <td><%= Money.new(price.value) %>€</td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
            <% if @tracker.prices.count > 0 %>
              <div class="column">
                <%= line_chart @tracker.prices.group_by_day, id: "prices-chart", ytitle: "Price", curve: false, suffix: " €" %>
              </div>
            <% end %>
          <% else %>
            <div class="column">
              <p>No prices available yet.</p>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</section>

