<h1 class="title is-1">
  <%= @tracker.title %>
  <% if @tracker.enabled %>
    <span class="tag is-success">Enabled</span>
  <% else %>
    <span class="tag is-danger">Disabled</span>
  <% end %>
</h1>

<h2 class="subtitle">Threshold price: <strong><%= @tracker.display_price_euros %></strong></h2>

<hr>
<p><strong>Tracking URL:</strong> <code><%= @tracker.url %></code></p>
<hr>

<%= form_with url: sync_tracker_path(@tracker), local: true do |form| %>
  <% form.submit 'Fetch price', class: 'button is-danger' %>
<% end %>
<br>

<h3 class="title is-3">Price history</h3>

<table class="table is-striped is-hoverable is-bordered">
  <thead>
    <th>Date</th>
    <th>Price</th>
  </thead>
  <tbody>
    <% @tracker.prices.order(created_at: :desc).each do |price| %>
      <tr>
        <td><%= price.created_at.strftime("%B %-d, %Y") %></td>
        <td><%= Money.new(price.value) %> €</td>
      </tr>
    <% end %>
  </tbody>
</table>

<%#= line_chart @tracker.prices.group_by_day %>
