<h1 class="title is-1">
  <%= @tracker.title %>
  <% if @tracker.enabled %>
    <span class="tag is-success">Enabled</span>
  <% else %>
    <span class="tag is-danger">Disabled</span>
  <% end %>
</h1>

<h2 class="subtitle">Threshold price: <strong><%= @tracker.display_price_euros %></strong></h2>

<hr>
<p><strong>Tracking URL:</strong> <code><%= @tracker.url %></code></p>
<hr>

<h3 class="title is-3">Price history</h3>

<% if @tracker.prices.present? %>
  <div class="columns">
    <div class="column is-one-third">
      <table class="table is-fullwidth is-striped is-hoverable">
        <thead>
          <th>Last 10</th>
          <th>Price</th>
        </thead>
        <tbody>
          <% @tracker.prices.order(created_at: :desc).limit(10).each do |price| %>
            <tr>
              <td><%= price.created_at.strftime("%B %-d, %Y") %></td>
              <td><%= Money.new(price.value) %> €</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% if @tracker.prices.count > 4 %>
      <div class="column">
        <%= line_chart @tracker.prices.group_by_day %>
      </div>
    <% end %>
  </div>
<% else%>
  <p>No prices available yet.</p>
<% end %>

