<!DOCTYPE html>
<html>
  <head>
    <title>PriceTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <div class="container is-fluid">
      <% if flash.present? %>
        <div class="notification">
          <button class="delete"></button>
          <% flash.each do |key, value| %>
            <p><%= value %></p>
          <% end %>
        </div>
      <% end %>
      <section class="section">
        <%= yield %>
      </section>
    </div>
  </body>
</html>
